

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.male {
    background-color: lightblue;
    color: black;
    padding: 4px;
    border-radius: 6px;
    border: none;
    width: 100px;
}

.female {
    background-color: pink;
    color: black;
    padding: 4px;
    border-radius: 6px;
    border: none;
    width: 100px;
}